"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dalmau-theme-syntax"
    ]
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "86fd6643-9456-3043-df95-1d888e89bd07"
  welcome:
    showOnStartup: false
